[run]
branch = True

[report]
fail_under = 100
show_missing = True
exclude_lines =
    # Re-enable the standard pragma
    pragma: NO COVER
    # Ignore debug-only repr
    def __repr__
    if __name__ == '__main__'
    https://cloud.google.com
omit =
  protoc_docs/bin/py_desc_converter_pandoc.py
  protoc_docs/bin/py_docstring_pandoc.py
